<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.things">

    <!--允许配对设备-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--允许发现设备-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--无交互的进行操作, API>=19添加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <!--管理输入驱动程序 -->
    <uses-permission android:name="com.google.android.things.permission.MANAGE_INPUT_DRIVERS" />
    <!--管理蓝牙设备-->
    <uses-permission android:name="com.google.android.things.permission.MANAGE_BLUETOOTH" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <uses-library android:name="com.google.android.things" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>